.board {
    display: grid;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0,0,0,.06);
    user-select: none;
}

.cell {
    border: 1px solid #eee;
    background: #fff;
    transition: background .06s ease-in;
}

    .cell.alive {
        background: #222;
    }

.play-button {
    width: 15%;
}

    .play-button:hover {
        filter: drop-shadow(0 0 10px var(--middle-green)) drop-shadow(0 0 30px var(--middle-green));
    }

.stop-button {
    width: 15%;
}

    .stop-button:hover {
        filter: drop-shadow(0 0 10px var(--neon-red)) drop-shadow(0 0 30px var(--neon-red));
    }
button:disabled {
    background-color: #d1d5db !important; 
    color: #6b7280 !important; 
    border-color: #cbd5e1 !important;
    cursor: not-allowed;
    filter: none !important;
    box-shadow: none !important;
    opacity: 0.85; 
}

    button:disabled i {
        color: #6b7280 !important;
    }